* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  cursor: pointer;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}
.field{
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 20px 0px;
}
fieldset{
  margin: 10px 0;
  width: 400px;
}
textarea{
  border: none;
  width: 380px;
}